*.o
*.iso
*.bin
*iso/
*.idea/
kernel.elf
qemu_logs.txt
hdd.img
kernel_grub.elf
iso_limine/limine-bios.sys
iso_limine/boot/limine-bios.sys
iso_limine/boot/limine/limine-bios.sys
*.log
*.elf
*repair-backups/
init
installer
libpurec.a
snake
nano
terminal
iso_limine/bin/program/nano
iso_limine/bin/program/terminal
system
*.a
gui-demo
